body{
    background-color: #345;
    box-sizing: border-box;
}

#box {
    background-color: #678;
    width: 100px;
    height: 100px;
    border: 2px solid #abc;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}